*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* 1. HEADER*/

.header {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 80px;
}

.header__top {
    min-height: 90px;
    background-color: rgba(242, 120, 92, .7);
    box-shadow: 1px 4px rgba(0, 0, 255, .2);
    margin-bottom: 32px;
}

.header__top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top_logo {
    display: flex;
    
}

.header__top_logo-img {
  
}

.header__logo_text {
    max-width: 180px;
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    margin-top: 20px;
    margin-left: 5px;
    
}

.header__top_menu {
    
    margin-top: 25px;
}
.menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Red Hat Text', sans-serif;  
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color:#fff;
}

.menu__item + .menu__item {
    margin-left: 42px;
}

.header__top_login {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Red Hat Text', sans-serif;  
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    background-color: #0D606F;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
}

.header__content_title {
    font-family: 'Aleo', serif;
    max-width: 892px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #fff;
    margin: 0 0 42px 0;
}

.header__content_text {
    font-family: 'Aleo', serif;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}

.header__content_search {
    max-width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.content__search_inner {
    display: flex;
    justify-content: space-between;
    
}

.header__content_input {
    margin-top: 35px;
    margin-left: 41px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: italic;
    border: none;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.header__content_btn {
    margin-top: 22px;
    margin-right: 15px;
    display: inline-block;
    font-family: 'Red Hat Text', sans-serif;  
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    padding: 10px 32px 10px 32px;
    border-radius: 10px;
    background: #0D606F;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* ------------------------------------------------------- */

/* 2. CARD */

.card__title {
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.card__inner {
    display: flex;
    justify-content: space-between;
}

.card__content {
    margin-bottom: 97px;
    text-align: center;
}

.card__img {
    margin-bottom: 30px;
}

.card__text {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
}

/* -------------------------------------------------------- */

/* 3. SLIDER */

.slider {
    margin-bottom: 80px;
}

.slider__title {
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 46px;
}

.slider__content {
    text-align: center;
    position: relative;
}

.slider__content_img {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    margin-bottom: 24px;
}

.slider__content_text {
    position: absolute;
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    bottom: 70px;
    left: 250px;
    color: #fff;
}

.content__check_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.slider__content_check {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: rgb(242, 120, 92);
}

.slider__btn {
    display: inline-flex;
    background: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 14px 31px;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
/* -------------------------------------------------------- */

/* 4. STORIES */


.stories__title {
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #f2785c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.stories__inner {
    background: url(../images/stories_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stories__background {
    background-color: rgba(255,255,255, 0.7);
}

.stories__card {
    padding-top: 40px;
    margin-bottom: 40px;
}

.stories__card_inner {
    display: flex;
    justify-content: space-between;
}

.stories__img {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    margin-right: 40px;
}


.stories__content_title {
    margin: 0;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 32px;
    color: #0d606f;
    margin-bottom: 24px;
}

.stories__content_text {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
}   

.link {
    text-align: center;
    padding-bottom: 42px;
}

.stories__btn_arrow {
    margin-right: 15px;
}
.stories__btn {
    display: inline-flex;
    background: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 14px 31px;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

}
/* -------------------------------------------------------- */

/* 5. FOOTER */

.footer {

}

.footer__inner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    
}

.footer__text {
    font-family: 'Red Hat Text', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.footer__social {
    
}

.footer__social_img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

/* -------------------------------------------------------- */