*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}


.header {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.header__top {
    min-height: 90px;
    background-color: rgba(242, 120, 92, .7);
}

.header__top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top_logo {
    display: flex;
    
}

.header__top_logo-img {
  
}

.header__logo_text {
    max-width: 180px;
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    margin-top: 20px;
    margin-left: 5px;
    
}

.header__top_menu {
    
    margin-top: 25px;
}
.menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Red Hat Text', sans-serif;  
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color:#fff;
}

.menu__item + .menu__item {
    margin-left: 42px;
}

.header__top_login {
    display: inline-block;
    padding: 10px 25px;
    font-family: 'Red Hat Text', sans-serif;  
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    background-color: #0D606F;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
}